* {
  box-sizing: border-box;
  overflow: auto;
  font-family: Calibri;
}

body {
	background-color: #ea2027;
}

#page-title {
	text-align: center;
	font-size: 30px;
}

#container {
	margin: 0% 5% 5% 5%;
}

#side-nav {
	width: 200px;
	float: left;
}

.selection {
    display: block;
	padding: 10px 0px 10px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

button:hover {
    background-color: #ffffff;
}

#top-nav {
	border: none;
	width: 100%;
    padding-left: 200px;

}

.property {
	float: left;
	padding: 5px;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
	width: 100px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

button {
	background-color: #ffd32a;
}

ul {

	padding-top: 20px;
}
	
.content {
	display: none;
	background-color: #F7F1e3;
	padding: 10px;
	min-height: 216px;
	border-top-left-radius: 0px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}



